# Segredos locais
.env

# Dados de runtime dos containers
duplicati/config/
duplicati/backups/
filebrowser/database/
filebrowser/config/
filebrowser/srv/

# Mantém a estrutura de pastas versionada
!**/.gitkeep
